<a href="https://colab.research.google.com/github/supriyaohdar/Bangalore-House-Price-Prediction/blob/main/BangaloreHPP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bengaluru House Price

## Importing the Libraries

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#from google.colab import files
#uploaded= files.upload()

Read the dataset

In [ ]:
traindata=pd.read_csv("Train.csv")
testdata=pd.read_csv("Test.csv")

#Exploratory Data Analysis

In [ ]:
traindata.head(50)

               area_type   availability  ... balcony   price
0   Super built-up  Area         19-Dec  ...     1.0   39.07
1             Plot  Area  Ready To Move  ...     3.0  120.00
2         Built-up  Area  Ready To Move  ...     3.0   62.00
3   Super built-up  Area  Ready To Move  ...     1.0   95.00
4   Super built-up  Area  Ready To Move  ...     1.0   51.00
5   Super built-up  Area  Ready To Move  ...     1.0   38.00
6   Super built-up  Area         18-May  ...     NaN  204.00
7   Super built-up  Area  Ready To Move  ...     NaN  600.00
8   Super built-up  Area  Ready To Move  ...     1.0   63.25
9             Plot  Area  Ready To Move  ...     NaN  370.00
10  Super built-up  Area         18-Feb  ...     2.0   70.00
11            Plot  Area  Ready To Move  ...     3.0  295.00
12  Super built-up  Area  Ready To Move  ...     1.0   38.00
13        Built-up  Area  Ready To Move  ...     2.0   40.00
14            Plot  Area  Ready To Move  ...     2.0  148.00
15  Super built-up  Area  Ready To Move  ...     2.0   73.50
16  Super built-up  Area  Ready To Move  ...     2.0   48.00
17  Super built-up  Area  Ready To Move  ...     3.0   60.00
18  Super built-up  Area  Ready To Move  ...     2.0  290.00
19  Super built-up  Area  Ready To Move  ...     2.0   48.00
20        Built-up  Area  Ready To Move  ...     1.0   15.00
21  Super built-up  Area         19-Dec  ...     1.0  122.00
22            Plot  Area  Ready To Move  ...     2.0  380.00
23  Super built-up  Area  Ready To Move  ...     1.0  103.00
24  Super built-up  Area         18-Nov  ...     0.0   25.25
25  Super built-up  Area         18-May  ...     2.0   56.00
26  Super built-up  Area  Ready To Move  ...     1.0   23.10
27        Built-up  Area         20-Dec  ...     2.0   81.00
28  Super built-up  Area         17-Oct  ...     2.0   48.77
29  Super built-up  Area  Ready To Move  ...     1.0   47.00
30  Super built-up  Area         19-Dec  ...     0.0  186.00
31  Super built-up  Area  Ready To Move  ...     1.0   35.00
32  Super built-up  Area  Ready To Move  ...     2.0  123.00
33  Super built-up  Area  Ready To Move  ...     3.0   57.39
34        Built-up  Area  Ready To Move  ...     NaN  125.00
35  Super built-up  Area         21-Dec  ...     1.0   36.00
36  Super built-up  Area  Ready To Move  ...     1.0   45.50
37  Super built-up  Area  Ready To Move  ...     2.0  125.00
38  Super built-up  Area  Ready To Move  ...     2.0   56.12
39        Built-up  Area  Ready To Move  ...     2.0   45.00
40        Built-up  Area  Ready To Move  ...     NaN   81.00
41  Super built-up  Area         19-Dec  ...     2.0   38.00
42  Super built-up  Area  Ready To Move  ...     0.0   38.00
43            Plot  Area  Ready To Move  ...     0.0   48.00
44  Super built-up  Area         19-Sep  ...     2.0   91.79
45            Plot  Area  Ready To Move  ...     NaN  200.00
46  Super built-up  Area  Ready To Move  ...     0.0   33.00
47  Super built-up  Area         20-Sep  ...     1.0   94.82
48            Plot  Area  Ready To Move  ...     1.0  130.00
49        Built-up  Area  Ready To Move  ...     1.0   36.00

[50 rows x 9 columns]

In [ ]:
testdata.head()

              area_type   availability           location  ... bath balcony price
0  Super built-up  Area  Ready To Move        Brookefield  ...  2.0     2.0   NaN
1            Plot  Area  Ready To Move      Akshaya Nagar  ...  9.0     2.0   NaN
2            Plot  Area         18-Apr        Hennur Road  ...  5.0     2.0   NaN
3  Super built-up  Area  Ready To Move  Kodichikkanahalli  ...  3.0     1.0   NaN
4  Super built-up  Area  Ready To Move        Konanakunte  ...  2.0     1.0   NaN

[5 rows x 9 columns]

In [ ]:
traindata.shape

(13320, 9)

In [ ]:
testdata.shape

(1480, 9)

In [ ]:
traindata.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [ ]:
testdata.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [ ]:
traindata.describe(include='all')

                   area_type   availability  ...       balcony         price
count                  13320          13320  ...  12711.000000  13320.000000
unique                     4             81  ...           NaN           NaN
top     Super built-up  Area  Ready To Move  ...           NaN           NaN
freq                    8790          10581  ...           NaN           NaN
mean                     NaN            NaN  ...      1.584376    112.565627
std                      NaN            NaN  ...      0.817263    148.971674
min                      NaN            NaN  ...      0.000000      8.000000
25%                      NaN            NaN  ...      1.000000     50.000000
50%                      NaN            NaN  ...      2.000000     72.000000
75%                      NaN            NaN  ...      2.000000    120.000000
max                      NaN            NaN  ...      3.000000   3600.000000

[11 rows x 9 columns]

In [ ]:

testdata.describe(include='all')

                   area_type   availability  ...      balcony price
count                   1480           1480  ...  1411.000000   0.0
unique                     4             51  ...          NaN   NaN
top     Super built-up  Area  Ready To Move  ...          NaN   NaN
freq                     946           1162  ...          NaN   NaN
mean                     NaN            NaN  ...     1.562013   NaN
std                      NaN            NaN  ...     0.835949   NaN
min                      NaN            NaN  ...     0.000000   NaN
25%                      NaN            NaN  ...     1.000000   NaN
50%                      NaN            NaN  ...     2.000000   NaN
75%                      NaN            NaN  ...     2.000000   NaN
max                      NaN            NaN  ...     3.000000   NaN

[11 rows x 9 columns]

In [ ]:
traindata.drop(columns=['availability','total_sqft','location','balcony','society'],inplace=True)
testdata.drop(columns=['availability','total_sqft','location','balcony','society','price'],inplace=True)

In [ ]:
traindata['size'] = traindata['size'].str[0]

In [ ]:
testdata['size'] = testdata['size'].str[0]

#Label Encoding

for area_type

In [ ]:
set(traindata['area_type']) == set(testdata['area_type'])

True

In [ ]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
traindata['area_type'] = labelencoder.fit_transform(traindata['area_type'])
testdata['area_type'] = labelencoder.transform(testdata['area_type'])
traindata.head()

   area_type size  bath   price
0          3    2   2.0   39.07
1          2    4   5.0  120.00
2          0    3   2.0   62.00
3          3    3   3.0   95.00
4          3    2   2.0   51.00

change the datatype into int

In [ ]:

traindata = traindata[~traindata['size'].isnull()]
traindata[['size']] = traindata[['size']].astype(int)

traindata = traindata[~traindata['bath'].isnull()]
traindata[['bath']] = traindata[['bath']].astype(int)


traindata = traindata[~traindata['price'].isnull()]
traindata[['price']] = traindata[['price']].astype(int)

In [ ]:
traindata.dtypes

area_type    int64
size         int64
bath         int64
price        int64
dtype: object

fill nan values and change the datatype into int

In [ ]:
testdata['size'] = testdata['size'].replace(np.nan, 0)

In [ ]:
testdata['bath'] = testdata['bath'].replace(np.nan, 0)

In [ ]:

testdata[['size']] = testdata[['size']].astype(int)

testdata[['bath']] = testdata[['bath']].astype(int)

In [ ]:
testdata.shape

(1480, 3)

In [ ]:
testdata.dtypes

area_type    int64
size         int64
bath         int64
dtype: object

#Splitting the dataset

In [ ]:

from sklearn.model_selection import train_test_split


array = traindata.values
X = array[:, 0:3]
Y = array[:, 3]

x_train, x_valid, y_train, y_valid = train_test_split(X, Y, test_size=0.20, random_state=1)

#Build the model

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
predictions = model.predict(x_valid)

In [ ]:
from sklearn.metrics import mean_absolute_error
error = mean_absolute_error(y_valid, predictions)
error

55.38565873334011

In [ ]:
accuracy = model.score(x_valid, y_valid)
accuracy

0.2396662721731847

In [ ]:
model1 = LinearRegression()
model1.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
predictions1 = model1.predict(testdata)
predictions1

array([ 72.92014659, 455.28802231, 224.94911269, ...,  72.92014659,
        75.28353021,  75.28353021])

In [ ]:
predictions1.shape

(1480,)

In [ ]:
df = pd.DataFrame({'Actual':y_valid,
                  'pred':predictions})
df.head(50)

    Actual        pred
0      280  217.723722
1       48   72.041939
2      225  146.933141
3       61   72.041939
4       65   76.082775
5       44   72.041939
6       59   76.082775
7       42   90.106213
8       31   72.041939
9      150   90.106213
10      40   72.041939
11      30   76.082775
12     145  184.348850
13     120  126.174977
14      60   72.041939
15      85  126.174977
16      56  126.174977
17      45   76.082775
18      54   72.041939
19      78  130.215812
20      58   90.106213
21      57   90.106213
22      72   73.388885
23     295  271.856759
24      85   72.041939
25     662  126.174977
26      86  126.174977
27     180  220.417613
28      46   76.082775
29     150  109.517432
30      67  126.174977
31      80   90.106213
32      26   19.255847
33     115  184.348850
34     155  181.654959
35     115  126.174977
36      70  126.174977
37      79   72.041939
38     700  127.521922
39      94  126.174977
40      23   72.041939
41      27   72.041939
42      36   72.041939
43     111  180.308014
44      42   76.082775
45      60   92.800104
46      51   72.041939
47      90  130.215812
48      55   90.106213
49     111  180.308014

In [ ]:
df = pd.DataFrame({'price': predictions})
df

           price
0     217.723722
1      72.041939
2     146.933141
3      72.041939
4      76.082775
...          ...
2645   90.106213
2646   72.041939
2647   72.041939
2648  144.239250
2649  126.174977

[2650 rows x 1 columns]

In [ ]:
df.to_csv('solution.csv')
files.download('solution.csv')

In [ ]:
#df.to_csv('price.csv', index=False)